body{
    display: flex;
    flex-direction: column;
}

ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a{
    text-decoration: none;
    color: #F9FAF8;
}

.sign-up img{
    width: 400px;
    height: auto;
}

.header{
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
    color: #F9FAF8;
}

.sign-up{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

.intro-text{
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
}

.random-info{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9FAF8;
}

.gallery{
    display: flex;
    gap: 32px;
}

.pic{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.placeholder{
    width: 100px;
    height: 100px;
    border: #3882F6;
    border-radius: 10%;
    border-width: 2px;
    background-color: #F9FAF8;
    border-style: solid;
}

.quote{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.action{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9FAF8;
}

.action-container{
    display: flex;
    gap: 32px;
}

.action-text{

}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8; 
}